body {
   margin: 0;
}

.wrapper {
   background-color: #9BC43F;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;

}

.box {
   background-color: #fff;
   width: 70%;
   height: 45%;
   border-radius: 15px;
}

p{
   color: pink;
}